#PlayerInfo {
left: 0%;
top: 0%;
width: 20vw;
height: 20vw;
    max-width: 150px;
    max-height: 150px;
background-image: url('../assets/img/Game_img/Game-Player-Button.png');
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
border: none;
padding:0%;
z-index: 101;
display:flex;
justify-content: center;
align-items: center;
}

#ESC {
left: 88%;
top: 1%;
width: 13%;
height: 13%;
background-image: url('../assets/img/Game_img/Game-ESC-Button.png');
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
border: none;
z-index: 2;
}
