#PlayerInfo {
left: 0%;
top: 0%;
width: 20vw;
height: 20vw;
    max-width: 150px;
    max-height: 150px;
background-image: url('../assets/img/Game_img/Game-Player-Button.png');
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
border: none;
padding:0%;
z-index: 101;
display:flex;
justify-content: center;
align-items: center;
}

#ESC {
left: 88%;
top: 1%;
width: 13%;
height: 13%;
background-image: url('../assets/img/Game_img/Game-ESC-Button.png');
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
border: none;
z-index: 2;
}

/* Avatar */
/* .user-avatar-button-global {
    position: absolute;
    top: 5%;  
    left: 2%; 
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: none;
    padding: 0; 
    background-color: transparent; 
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.user-avatar-image {
  display: block;
    width: 68%; 
    height: 68%;
    object-position: center center;
    object-fit: cover; 
    background-color: transparent; 
    z-index: 102;
    transform: translateY(-5.4%) translateX(-4%);
}

/* Modales */

/* .modalUser-name{

  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #d4d4d4;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}

.modalUser-hints {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: all 0.3s ease;
  font-size: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.modalUser-hints:hover {
  transform: scale(1.1);
  cursor: not-allowed;
}
.modalUse-hints-used {
  background-color: #6c757d;
  color: white;
}

.modalUse-hints-unused{
 background-color: #28a745;
color: white;
} */


.modal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-content button {
  background-color: #6a2e06; 
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 3 0.5rem;
  line-height: 1;
  border-radius: 4px;
  margin-top: 2px;
}
@keyframes popIn {
  0% {
    transform: translateX(-50%) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
}


.modal-content button:hover {
  background-color: #d48a4e;
  color: #222;
}

.modal-content h2 {
  font-size: 1rem;
  color: #f3e6d8;
  margin: 0 10px 0 0;
  text-align: center;
  flex-grow: 1;
}

/* Objetos */

.objectPosition{
  position: absolute;
  top: 100px;
  left: 200px;
  border: none;
  background: transparent;
 
}
.objectImg{
  width: 50px;
  height: 50px;
  object-fit: contain
}
.objectButtonDisable{
     opacity: 0; 
     border: none; 
     background: transparent;
}
.objectModal {
  position: fixed;
  top: 20%;
  left: 50%;
  background: rgba(101, 67, 33, 1); 
  border: 2px solid #6b4226; 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(50, 30, 10, 0.4);
  padding: 15px 25px;
  max-width: 280px;
  z-index: 9999;
  animation: popIn 0.7s ease forwards;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Inventario */

.inventoryImg{
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 20px;
  background-color: rgb(235, 210, 178);
  margin-top: 20px;

}
 .inventoryName{
  font-size: 8px;
} 

.inventoryContainer {
  position: fixed;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050; 
  
}

.inventory_btn {
  z-index: 1040;
  position: relative;

}

.inventoryMenuObjects {
  background-color: #e36c1c;
  padding: 10px;
  border-radius: 10px;
  height: 70px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content:space-between;
  align-items: center;
  animation: slideUp 0.5s ease-out;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
.selected{
  outline: 3px solid rgb(24, 222, 27);
  background-color: #fff4d2;
  border-radius: 50px;
   padding: 2px

}
.inventoryPenaltyMessage {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #ecc13f;
  color: #fff;
  padding: 0.75em 1.25em;
  border-radius: 4px;
  font-size: 1rem;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}

.inventoryPenaltyMessage.visible {
  opacity: 0.95;
  visibility: visible;
}

.inventoryPenaltyMessage.hidden {
  opacity: 0;
  visibility: hidden;
}