
#PlayerInfo {
left: -5%;
top: 0%;
width: 20%;
height: 20%;
background-image: url('./assets/img/Game_img/Game-Player-Button.png');
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
border: none;
z-index: 2;
}

#ESC {
left: 84%;
top: -1.5%;
width: 20%;
height: 20%;
background-image: url('./assets/img/Game_img/Game-ESC-Button.png');
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
border: none;
z-index: 2;
}