body, html {
margin: 0;
padding: 0;
height: 100%;
overflow: hidden;
}

.game-container-bg {
 position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    transform-origin: center center; 
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

.bg-img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
display: block;
z-index: 0;
}

.game-container-bg > *:not(.bg-img) {
position: absolute;
}

#door {
left: 68.45%;
top: 19%;
width: 19.15%;
height: 59.2%;
background-image: url('./assets/img/Level1_img/Level1-Door.png');
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
border: none;
z-index: 1;
}

#lock {
left: 70.14%;
top: 46.7%;
width: 2.34%;
height: 5.04%;
background-image: url('./assets/img/Level1_img/Level1-Lock.png');
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
border: none;
z-index: 2;
}

#gearbox {
left: 55.2%;
top: 12.89%;
width: 8.3%;
height: 20%;
background-image: url('./assets/img/Level1_img/Level1-Gearbox.png');
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
border: none;
z-index: 1;
}

#plant {
left: 9.9%;
top: 32.1%;
width: 10.13%;
height: 45.5%;
background-image: url('./assets/img/Level1_img/Level1-Plant.png');
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
border: none;
z-index: 1;
}

#letter {
left: 58.2%;
top: 46.3%;
width: 2.7%;
height: 3.2%;
background-image: url('./assets/img/Level1_img/Level1-Letter.png');
background-color: transparent;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
border: none;
z-index: 1;
}


.menu-toggle {
 position: fixed;
    top: 120px; 
    left: 40px;  
    z-index: 100;
    padding: 10px;
    border-radius: 5px;
}